div.body {
  max-width: none;
}

dt:target {
  background-color: #E0FFFF;
}

a {
  color: #12698A;
}

.navbar-brand img {
  height: 150%;
}

h1, .h1 {
  font-size: 40px
}

h2, .h2 {
  font-size: 25px
}

h3, .h3 {
  font-size: 20px
}

h4, .h4 {
  font-size: 15px
}

h5, .h5 {
  font-size: 10px
}

ul li p {
	margin: 0 0 0 0;
}

.alert-info{
  color: #555555;
  background-color: #d1ecf1;
}
