dist: xenial

language: python

matrix:
  include:
  - name: "Python 3.6 Unit Test"
    python: 3.6
    env: PYSTAN_VERSION=latest NAME="UNIT"
  - name: "Python 3.6 Unit Test - PyStan preview"
    python: 3.6
    env: PYSTAN_VERSION=preview NAME="UNIT"
  - name: "Python 3.5 Unit Test"
    python: 3.5
    env: PYSTAN_VERSION=latest NAME="UNIT"
  - name: "Python 3.6 Lint"
    python: 3.6
    env: PYSTAN_VERSION=latest NAME="LINT"
  - name: "Python 3.6 Sphinx"
    python: 3.6
    env: PYSTAN_VERSION=latest NAME="SPHINX"

addons:
  apt_packages:
    - pandoc

cache:
  directories:
    - $HOME/.theano
    - $HOME/miniconda

install:
  - sudo apt-get -qq update
  - . ./scripts/install_miniconda.sh
  - conda info -a
  - . ./scripts/create_testenv.sh
  - if [[ $NAME == UNIT ]]; then pip install coveralls ; fi

before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3
- export MKL_THREADING_LAYER=GNU

script:
  - if [[ $NAME == LINT ]]; then . ./scripts/lint.sh ; fi
  - if [[ $NAME == UNIT ]]; then pytest -v arviz/tests/ --cov=arviz/ ; fi
  - if [[ $NAME == SPHINX ]]; then travis-sphinx build --nowarn --source=doc ; fi

after_success:
  - if [[ $NAME == SPHINX ]]; then travis-sphinx deploy; fi
  - if [[ $NAME == UNIT ]]; then coveralls ; fi
