language: python

python:
  - "3.6"

addons:
  apt_packages:
    - pandoc

cache:
  directories:
    - $HOME/.theano
    - $HOME/miniconda

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy mkl scipy pandas matplotlib pytest pylint sphinx numpydoc ipython
  - source activate test-environment
  - pip install .
  - pip install -r requirements-dev.txt
  - pip install coveralls

before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3
- export MKL_THREADING_LAYER=GNU

script:
  - pylint arviz/
  - pytest -v arviz/tests/ --cov=arviz/
  - travis-sphinx build --nowarn --source=doc

after_success:
  - travis-sphinx deploy
  - coveralls
