dist: xenial

language: python

branches:
  only:
    - master

matrix:
  include:
    - name: "Python 3.6 Unit Test"
      python: 3.6
      env: PYTHON_VERSION=3.6 PYSTAN_VERSION=latest PYRO_VERSION=latest EMCEE_VERSION=latest COVERALLS_PARALLEL=true NAME="UNIT"
    - name: "Python 3.6 Unit Test - PyStan=3 Pyro=1.0.0 Emcee=2 TF=1"
      python: 3.6
      env: PYTHON_VERSION=3.6 PYSTAN_VERSION=preview PYRO_VERSION=1.0.0 PYTORCH_VERSION=1.3.0 EMCEE_VERSION=2 TF_VERSION=1 COVERALLS_PARALLEL=true NAME="UNIT"
    - name: "Python 3.5 Unit Test"
      python: 3.5
      env: PYTHON_VERSION=3.5 PYSTAN_VERSION=latest PYRO_VERSION=latest EMCEE_VERSION=latest PYMC3_VERSION=3.8 COVERALLS_PARALLEL=true NAME="UNIT"
    - name: "Python 3.7 Unit Test"
      python: 3.7
      env: PYTHON_VERSION=3.7 PYSTAN_VERSION=latest PYRO_VERSION=latest EMCEE_VERSION=latest COVERALLS_PARALLEL=true NAME="UNIT"
    - name: "Python 3.6 Lint"
      python: 3.6
      env: PYTHON_VERSION=3.6 PYSTAN_VERSION=latest PYRO_VERSION=latest EMCEE_VERSION=latest COVERALLS_PARALLEL=true NAME="LINT"
    - name: "Python 3.6 Sphinx"
      python: 3.6
      env: PYTHON_VERSION=3.6 PYSTAN_VERSION=latest PYRO_VERSION=latest EMCEE_VERSION=latest COVERALLS_PARALLEL=false NAME="SPHINX"

addons:
  apt:
    packages:
      - docker-ce

before_install:
  - docker pull conda/miniconda3
  - docker --version

install:
  # Build docker image
  - . ./scripts/container.sh --build

  # Print conda details
  - docker run --rm arviz:latest bash -c "conda info -a"

  # Print conda environment details
  - docker run --rm arviz:latest bash -c "conda list && pip freeze"

  # Install packages needed for service integration
  - if [[ $NAME == UNIT ]]; then pip install coveralls ; fi
  - if [[ $NAME == LINT ]]; then pip install coveralls ; fi
  - if [[ $NAME == SPHINX ]]; then pip install ghp-import ; fi

script:
  # Tests command is default in dockerfile cmd
  - if [[ $NAME == UNIT ]]; then docker run  --mount type=bind,source="$(pwd)",target=/opt/arviz --name arviz_test arviz:latest bash -c \
    "NUMBA_DISABLE_JIT=1 pytest -v arviz/tests/ --cov=arviz/ --durations=0";
    fi

  - if [[ $NAME == LINT ]]; then docker run arviz:latest bash -c "./scripts/lint.sh";
    fi

  # Tests saving plots and deleting files
  - if [[ $NAME == LINT ]]; then docker run  --mount type=bind,source="$(pwd)",target=/opt/arviz --name arviz_test arviz:latest bash -c \
    "mkdir -p test_images/new_folder && pytest -v arviz/tests/ --save -k plot_khat --cov=arviz/ --durations=0";
    fi

  # Awkward line spacing to avoid travis-ci errors
  - if [[ $NAME == SPHINX ]]; then docker run  --mount type=bind,source="$(pwd)",target=/opt/arviz --name arviz_sphinx arviz:latest bash -c \
    "if [ -d ./doc/build ]; then python -msphinx -M clean doc doc/build; fi && sphinx-build doc doc/build -b html";
    fi

after_success:
  - echo $(pwd)
  - ls -la
  - if [[ $NAME == SPHINX ]]; then ./scripts/deploy_docs.sh ; fi
  - if [[ $NAME == UNIT ]]; then sed -i 's/\/opt\/arviz/\/home\/travis\/build\/arviz-devs\/arviz/g' .coverage; fi
  - if [[ $NAME == UNIT ]]; then coveralls; fi

  - if [[ $NAME == LINT ]]; then sed -i 's/\/opt\/arviz/\/home\/travis\/build\/arviz-devs\/arviz/g' .coverage; fi
  - if [[ $NAME == LINT ]]; then coveralls; fi

notifications:
  webhooks: https://coveralls.io/webhook
