language: python

python:
  - "3.7"
  - "3.6"
  - "3.5"

addons:
  apt_packages:
    - pandoc

cache:
  directories:
    - $HOME/.theano
    - $HOME/miniconda

install:
  - sudo apt-get update
  - . ./scripts/install_miniconda.sh
  - conda info -a
  - . ./scripts/create_testenv.sh
  - pip install coveralls

before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3
- export MKL_THREADING_LAYER=GNU

script:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pylint arviz/; fi
  - pytest -v arviz/tests/ --cov=arviz/
  - travis-sphinx build --nowarn --source=doc

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then travis-sphinx deploy; fi
  - coveralls
