emcee
pymc3 @ git+https://github.com/pymc-devs/pymc3
ghp-import
pystan
cmdstanpy
ipython
nbsphinx
numpydoc
pydocstyle
pylint
pyro-ppl
tensorflow
tensorflow-probability
pytest
pytest-cov
Sphinx
sphinx-bootstrap-theme
sphinx-gallery
black; python_version == '3.6'
numba
numpyro
