docutils==0.16 # temporary fix due to incompatibility with 0.17
ghp-import
ipython
numpydoc
pydocstyle
Sphinx>=1.8.3
pydata_sphinx_theme>=0.6.3
myst-parser==0.13.7
myst-nb
sphinx-panels
sphinx-notfound-page
