docutils
ghp-import
ipython
numpydoc
pydocstyle
Sphinx>=1.8.3
pydata_sphinx_theme>=0.6.3
myst-parser
myst-nb
sphinx-panels
sphinx-notfound-page
sphinx-copybutton
bokeh
sphinx_design
git+https://github.com/felix-hilden/sphinx-codeautolink
