docutils
ipython
pickleshare
numpydoc
pydocstyle
Sphinx>=5
pydata-sphinx-theme>=0.13.0
myst-parser
myst-nb
sphinx-notfound-page
sphinx-copybutton
bokeh>=3
contourpy
sphinx_design
sphinx-codeautolink>=0.9.0
jupyter-sphinx
sphinxcontrib-youtube
