git+https://github.com/pymc-devs/pymc3
git+https://github.com/stan-dev/pystan
ipython
nbsphinx
netcdf4
numpydoc
pylint
pytest
pytest-cov
Sphinx
sphinx-bootstrap-theme
sphinx-gallery
travis-sphinx==2.0.0
