jobs:
- job: BaseTests
  pool:
    vmImage: 'ubuntu-latest'
  variables:
    - name: NUMBA_DISABLE_JIT
      value: 1
    - name: ARVIZ_CI_MACHINE
      value: 1
  timeoutInMinutes: 360
  strategy:
    matrix:
      Python_310:
        python.version: "3.10"
        PyPIGithub: false
        name: "Python 3.10"
      Python_39:
        python.version: "3.9"
        PyPIGithub: false
        name: "Python 3.9"
      Python_39_preview:
        python.version: "3.9"
        PyPIGithub: true
        name: "Python 3.9"
      Python_38:
        python.version: "3.8"
        PyPIGithub: false
        name: "Python 3.8"


  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      sudo apt-get update
      sudo apt-get install -y ffmpeg
    displayName: 'Install external libraries'

  - script: |
      ls -ahl
      env
      pwd
      gcc --version
      python --version
    displayName: 'Debug information'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install wheel
      python -m pip install --no-cache-dir -r requirements.txt
      python -m pip install --no-cache-dir -r requirements-optional.txt
      python -m pip install --no-cache-dir -r requirements-dev.txt
      python -m pip install pytest-azurepipelines codecov
    condition: and(succeeded(), eq(variables.PyPIGithub, false))
    displayName: 'Install requirements'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install wheel
      python -m pip install --no-cache-dir --pre -r requirements.txt
      python -m pip install --no-cache-dir --pre -r requirements-optional.txt
      python -m pip install --no-cache-dir -r requirements-dev.txt
      python -m pip install --upgrade git+https://github.com/pydata/xarray.git
      python -m pip install pytest-azurepipelines codecov
    condition: and(succeeded(), eq(variables.PyPIGithub, true))
    displayName: 'Install requirements (pypi preview / github)'

  - script: |
      python -m pip install .
    displayName: 'Install ArviZ package'

  - script: |
      python -m pip freeze
    displayName: 'Print packages'

  - script: |
      python -m pytest arviz/tests/base_tests --cov arviz --cov-report=xml
    displayName: 'pytest'

  - script: |
      ls -ahl
      env
    displayName: 'Debug information 2'

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '$(System.DefaultWorkingDirectory)/test-*.xml'
      testRunTitle: 'Publish test results for Python $(python.version)'
    displayName: 'Publish Test Results'

  - script: |
      bash <(curl -s https://codecov.io/bash) -n "$(NAME)" -C $BUILD_SOURCEVERSION
    displayName: 'upload coverage'
